
/*------------------------
        [SIZE FONT]
------------------------*/
$color1:#176FA6;
$color2:#1E91D6;
$color3:#63B0E0;
$color4:#C3E9FC;
$color5:#072337;
$color6:#F2F2F2;
$color7:#FFFFFF;
$color8:#ecf7ff;

/* BODY */
$bg-body: $color6;

/* MENU */
$bg-menu: $color5;
$txt-menu: $color7;

$bg-menu-footer: $color1;
$txt-menu-footer: $color7;

$bg-panelmenu: $color5;
$brd-panelmenu:$color5;
$txt-panelmenu:$color7;

$bg-panelmenu-hover: $color2;
$brd-panelmenu-hover:$color2;
$txt-panelmenu-hover:$color7;

$bg-panelmenu-hd: $color2;
$brd-panelmenu-hd:$color2;
$txt-panelmenu-hd:$color7;

$bg-panelmenu-active: $color2;
$brd-panelmenu-active:$color2;
$txt-panelmenu-active:$color7;

$bg-panelmenu-menuitem-hover: $color4;
$bg-panelmenu-box-submenu: $color8;

/* HEADER */
$bg-header: $color7;

$bg_SignOff: $color2;
$txt_SignOff: $color7;

$icon-header: $color5;
$icon-header-hover: $color2;

/* TOOLTIP */
$bg-tooltip: $color2 ;
$txt-tooltip: $color7;



